

.menu {
    margin-bottom: 3em;
    background-color: #ffffff;
    
}

.teams_listing {
    margin: 7.5em;
}

.header_contents_team {
    margin-top: 6.5em;
    padding: 1em;
    margin-bottom: 2em;
    background-color: rgb(72, 112, 63);
}

.name_team {
    font-size: 2em;
    color: cornsilk;
}


.sub_team_header{
    margin-bottom: 2em;
}

.team_button {
    margin-bottom: 2em;
}


